.red {
  background: red;
}
.green {
  background: green;
}

.box{
  height: 130px;
}

.yellow{
  background: yellow;
}
 .blue{
   background: blue;
 }
.image img {
    width: 90px;
    height: 90px;
    margin: auto;    
    display: block;
}
